html {
  background: #eceae7;
}

body {
  margin: 5vh auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%); */
  background: linear-gradient(329.54deg, #15272b 0%, #203f3f 100%);
  width: var(--largura);
  height: 90vh;
}

/* se a tela tiver pelo menos 400px vai carregar esses estilos */
/* @media (max-width: 500px) {
 body {
   background: #990000;
   width: 500px;
 }
} */

header {
  position: fixed;
  top: 0;
  background: #000000;
  height: 5vh;
  width: var(--largura);
  color: #990000;
  line-height: 5vh;
  z-index: 1;
}

header i {
  height: 5vh;
  width: 5vh;
  font-size: 3vh;
}

i.fa-bars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notas {
  top: 5vh;
  left: calc(-1 * var(--largura)/2);
  width: calc(var(--largura)/2);
  background-color: #a5a5a5;
  text-align: center;
  position: absolute;
  visibility: hidden;
  color: #000;
  padding: 5px;
  transition: 0.2s;
}

.fa-bars:hover .notas {
  visibility: visible;
  transition-delay: 0.2s;
  left: 0;
}

.notas h3 {
  font-size: 3vh;
  height: 5vh;
  text-align: center;
  line-height: 5vh;
}

.notas ol{
  font-size: 10px;
  list-style-position: inside;
  text-align: left;
  row-gap: 1px;
}

.notas ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px 5px;
  list-style-type: '-';
}

h1{
  /* font-family: 'Allerta Stencil', sans-serif; */
  font-family: 'Big Shoulders Stencil Text', cursive;
  /* font-family: 'Keania One', cursive; */
  margin: 10px 0 30px 0;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);
  clear: both;
}

.entradaSaida {
  display: grid;
  grid-template-columns: 165px 105px 75px;
  gap: 30px;
}

.dadosEntrada ul{
  display: grid;
  grid-template-columns: 110px 50px;
}

.dadosSaidaChumbador ul {
  display: grid;
  grid-template-columns: 50px 50px;
  filter: hue-rotate(115deg);
}

.dadosSaidaLuva ul {
  display: grid;
  grid-template-columns: 20px 50px;
  filter: hue-rotate(270deg);
}

.dadosEntrada h3 {
  height: 46px;
  text-align: center;
}

div ~ div ~ div h3, .dadosEntrada h3 {
  line-height: 40px;
}

.dadosSaidaChumbador {
  width: 110px;
}

select {
  -webkit-appearance: none;
  text-align-last: center;
}

label {
  color: #21ebff;
}

.dadosEntrada input[type=number], select{
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  box-shadow: 1px 1px 2px #21ebff;
  -moz-box-shadow: 1px 1px 2px #21ebff;
  -webkit-box-shadow: 1px 1px 2px #21ebff;/* 
  border-top:1px solid #21ebff;
  border-left:1px solid #21ebff; */
  border: 1px solid black;
  text-align: center;
  margin-bottom: 5px;
  transition: 0.2s;
}

.dadosEntrada input[type=number]:hover, select:hover{
  color: #111;
  box-shadow: 0 0 50px #21ebff;
  transition-delay: 0.2s;
}

.dadosSaidaChumbador input[type=number], .dadosSaidaLuva input[type=number]{
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  box-shadow: 1px 1px 2px #21ebff;
  -moz-box-shadow: 1px 1px 2px #21ebff;
  -webkit-box-shadow: 1px 1px 2px #21ebff;/* 
  border-top:1px solid #21ebff;
  border-left:1px solid #21ebff; */
  border: 1px solid black;
  text-align: center;
  margin-bottom: 5px;
  background: rgba(66, 66, 66);
  color: #09a0a0;
}

input, select {
  /* border-radius: 5px; */
  outline: none;
  /* min-width: 100px; */
  /* padding: 15px 20px;
  font-size: 16px; */
  /* transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear; */
  /* -webkit-appearance:none; */
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

/* input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
} */

.tabela {
  visibility: hidden;
/*   width: var(--largura);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-gap: 5px; */
}

.dadosSaidaLuva label:not([value]),
.dadosSaidaLuva label[value=''],
.dadosSaidaLuva label[value='0'],
.dadosSaidaLuva input:not([value]),
.dadosSaidaLuva input[value=''],
.dadosSaidaLuva input[value='0'],

.dadosSaidaChumbador label:not([value]),
.dadosSaidaChumbador label[value=''],
.dadosSaidaChumbador label[value='0'],
.dadosSaidaChumbador input[value=''],
.dadosSaidaChumbador input[value='0'] {
  display: none;
  overflow: hidden;
  visibility: hidden;
}

label + label{
  display: none;
  overflow: hidden;
  visibility: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  background: #000000;
  height: 5vh;
  width: var(--largura);
  /* line-height: 5vh; */
  /* padding-right: 5px; */
  /* align-items: center; */
  /* text-align: right; */
  
}

.contatos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  gap: 1vh;
}
a {
  text-decoration: none;
}
.contatos i {
  color: #990000;
  /* color: rgb(91, 7, 160); */
  font-size: 3vh;
}
