:root {
    --largura: 500px;
    --icones: #062c68;
    --margin: min(5vh, 46px);
    --body: calc(100vh - var(--margin) * 2);
  }
  
  /* soft reset do css */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }